WindowsFormsApp1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApp_rsu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApp_rsu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfview_data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="view_data" nillable="true" type="tns:view_data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfview_data" nillable="true" type="tns:ArrayOfview_data" />
  <xs:complexType name="view_data">
    <xs:sequence>
      <xs:element minOccurs="0" name="agama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alamat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_pasien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jns_kelamin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama_pasien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="no_telpon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tempat_lahir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tgl_lahir" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="view_data" nillable="true" type="tns:view_data" />
</xs:schema>